// LIGHT VARIABLES
$dark-blue: hsl(230, 17%, 14%);
$dark-grayish: hsl(228, 12%, 44%);
$desaturated-blue: hsl(228, 34%, 66%);
$light-grayish: hsl(227, 47%, 96%);
$pale-blue: hsl(225, 100%, 98%);
$bright-red: hsl(356, 69%, 56%);
$green: hsl(163, 72%, 41%);

// DARK VARIABLES
$very-darkblue-top: hsl(232, 19%, 15%);
$desaturated-blue-dark: hsl(228, 28%, 20%);

// MOBILE
$mobile: 850px;